footer.footer(role='contentinfo')
	.container-content
		.footer-top
			div
				| Krankenkassen:
				br/
				| GKK I BVA I VAEB I SVA I KFA SVB

			.footer-tel
				p
					span 144 
					| - NOTRUF

				p
					span 141 
					| - Ärztenotdienst

				p
					span 1450 
					| - Gesundheitsberatung

		.footer-disclaimer
			| @ 2020 Dr. Michael Kastler, Gemeindearzt Baumgartenberg, Chiropraktik, Praktischer Arzt, Allgemeinmedizin, Geriatrie, Palliativmedizin, Schularzt, Arzt Baumgartenberg, Bitte beachten Sie, dass meine Website Cookies für Ihre bessere Erfahrung verwendet. Durch die Nutzung meiner Website erklären Sie sich damit einverstanden 
			a(href="#") impressum & datenschutz