include ../mixins/sections.pug

header.header(role='banner')
	.container-content
		a(href="/"): img(alt="Dr. KASTLER Allgemeinmedizin", src="assets/i/logo-dr-kastler.svg")
		.header-nav
			nav
				a.pin(href="#") Info
				a(href="#") Leistungen
				a(href="#") Team
				a(href="#") Apotheke
				a(href="#") Ordinationszeiten & Kontakt
				a(href="#") 07269/205

			button Online-Termin
