include ../mixins/sections.pug

header.header(role='banner')
	.container-content
		a(href="/"): img(alt="Dr. KASTLER Allgemeinmedizin", src="assets/i/logo-dr-kastler.svg")
		.header-nav
			nav#mobilemenu
				a.pin(href="#") Info
				a.active(href="#") Leistungen
				a(href="#") Team
				a(href="#") Apotheke
				a(href="#") Ordinationszeiten & Kontakt
				a(href="tel:07269/205", target="_blank") 07269/205

			.toggler-wrap
				.toggler(data-content="mobilemenu")
					span
					span
					span

			div
				button Online-Termin
