@font-face { 
    font-family: "Muli";
    src: url(../fonts/Muli/web/Muli-Regular.eot?) format("eot"), 
         url(../fonts/Muli/web/Muli-Regular.woff) format("woff"), 
         url(../fonts/Muli/web/Muli-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: "Muli";
    src: url(../fonts/Muli/web/Muli-Bold.eot?) format("eot"), 
         url(../fonts/Muli/web/Muli-Bold.woff) format("woff"), 
         url(../fonts/Muli/web/Muli-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

html {
	font-size: 100%;
}

body {
	font-family: var(--font-family-text);
	font-size: var(--font-size-text);
	line-height: 1.7;
}

#{headings()} {
	font-family: var(--font-family-headings);
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color: var(--color-green-dark);
	font-weight: normal;
}

h2, h3, h4, h5 {
	margin: calc(var(--space-side)/2) 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 35px;
	margin-bottom: calc(var(--space-side)*1.5);
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

ul, ol, li, p, blockquote, .p {
	margin-bottom: var(--space-text);

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	transition: all 0.2s ease;

	&:hover {
		opacity: 0.7;
	}
}

p {
	line-height: 1.8;
}

.red { color: var(--color-red) }


.info h1 { color: var(--color-red) }

hr {
	background-color: var(--color-gray);
	height: 1px;
	border: 0;
	margin: calc(var(--space-side)/2) 0;
}