body {
    --font-family-text: 'Muli', Tahoma, sans-serif;
    --font-size-text: 16px;
    --color-text: #000000;
    --color-body: #ffffff;
    --color-green: #BAE503;
    --color-green-dark: #769C21;
    --color-red: #FF0000;
    --color-orange: #FFCB3C;
    --color-blue: #D0E7FF;
    --color-gray: #B7B7B7;

    --space-side: 40px;
    --space: var(--space-side);
    --space-text: calc(var(--space-side)/2);
    --space-section: 100px;
}

@media screen and (max-width: 420px) {
    body {
        --space-side: 20px;
    }
}