body {
    --font-family-text: 'Open Sans', 'Roboto', sans-serif;
    --font-size-text: 16px;
    --color-text: #000000;
    --color-body: #ffffff;
    --color-green: #BAE503;
    --color-red: #FF0000;

    --space-side: 40px;
    --space: var(--space-side);
    --space-section: 100px;
}