extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Homepage'
	- var page_layout = 'home'
	- var bodyclass = ''

block content
	//- link(rel="stylesheet", href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")

	script.
		$(document).ready(function(){
			$('.slider').bxSlider({
				controls: false
			});
		});


	.container-content
		.home
			.home-left
				.section__green
					p In Ordination:
					p Dr. Kastler

				.section__orange
					p Informationen:
					p
						| - 24.07-30.07 - geschlossen
						br/
						| - Zeckenimpfungszeit
					a(href="#").button.secondary Mehr

				.section__blue
					p Hausärztlicher Notdienst
					p
						| Ausserhalb der
						br/
						| Ordinationszeiten
						br/
						| bzw. geschlossener Ordination
					a(href="#").button.secondary Mehr
						
			.home-right
				.slider
					div: img(alt="", src="assets/i/tmp/DSC_9481.jpg")
					div: img(alt="", src="assets/i/tmp/DSC_9481.jpg")