extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Ordinationszeiten & Kontakt'
	//- - var page_layout = 'home'
	- var bodyclass = ''

block content

	.container-content-page
		h1 Ordinationszeiten & Kontakt
		section.kontakt
			div
				table(itemprop="openingHours" datetime="Mo-We,Fr 7:30–11:30,Tu,Th 16:00–18:00")
					tbody
						tr
							td Montag
							td 07:30–11:30
							td
						tr
							td Dienstag
							td 07:30–11:30
							td 16:00–18:00 (nach Vereinbarung)
						tr
							td Mittwoch
							td 07:30–11:30
							td
						tr
							td Donnerstag
							td Geschlossen
							td 16:00–18:00 (nach Vereinbarung)
						tr
							td Freitag
							td 07:30–11:30
							td
						tr
							td Samstag
							td(colspan="2") Geschlossen
						tr
							td Sonntag
							td(colspan="2") Geschlossen

			div.kontakt-info
				div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.8px" height="39.8px" viewBox="0 0 32.8 39.8" style="enable-background:new 0 0 32.8 39.8;" xml:space="preserve"><path style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" d="M27.8,26.9c-2.5,2.9-11.2,11.8-11.3,11.9c-0.2-0.2-9.7-10-11.6-12.3c-5.6-6.4-4.9-16.2,1.5-21.8S22.4-0.1,28,6.3c2.5,2.8,3.8,6.4,3.8,10.1C31.8,20.3,30.4,24,27.8,26.9 M16.4,11.1c2.9,0,5.3,2.4,5.3,5.3s-2.4,5.3-5.3,5.3s-5.3-2.4-5.3-5.3S13.5,11.1,16.4,11.1z"/></svg>
					p
						| ADRESSE
						br/
						span(itemprop="streetAddress") Bruderau 30
						| , 
						span(itemprop="postalCode") 4342 
						span(itemprop="addressLocality") Baumgartenberg

				div
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="33.6px" height="39.8px" viewBox="0 0 33.6 39.8" style="enable-background:new 0 0 33.6 39.8;" xml:space="preserve"><path style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" d="M15,28.1c-3.3-3.2-6.8-8.2-7.9-13c-0.2-0.8,0.2-1.6,0.9-2l3.6-2.2c0.7-0.4,1-1.2,0.9-1.9l-1.1-6.4C11.2,1.7,10.4,1,9.5,1L3.3,1C2.4,1,1.6,1.7,1.4,2.6c-2.8,17.6,7.7,31.7,22,36.1c0.8,0.2,1.7-0.1,2.2-0.8l3.1-5c0.5-0.8,0.3-1.9-0.5-2.5l-5.3-4.2c-0.6-0.5-1.5-0.5-2.2-0.1l-3.2,2.2C16.7,28.8,15.7,28.7,15,28.1z M18.2,9.2c4.4,3.4,7.4,8.2,8.6,13.7 M18.5,2.6c7.6,4.5,12.8,12.2,14.1,20.9"/></svg>
					p
						| TELEFON / FAX
						br/
						span(itemprop="telephone") 07269/205

				div
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="26.3px" viewBox="0 0 40 26.3" style="enable-background:new 0 0 40 26.3;" xml:space="preserve"><path style="fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;" d="M4,1h32c1.7,0,3,1.3,3,3v18.3c0,1.7-1.3,3-3,3H4c-1.7,0-3-1.3-3-3V4C1,2.3,2.3,1,4,1z M38.7,1.6c0,0-13.4,9.8-17.4,12.7c-0.7,0.5-1.6,0.5-2.2,0C15,11.4,1.6,1.6,1.6,1.6"/></svg>
					p
						| EMAIL
						br/
						| email-kontakt Ordination:
						br/
						a(href="mailto:dr.kastler-ordination@gmx.at", itemprop="email") dr.kastler-ordination@gmx.at
						br/
						| email-kontakt für Medikamentenbestellung:
						br/
						a(href="mailto:dr.kastler-medikamente@gmx.at", itemprop="email") dr.kastler-medikamente@gmx.at

		section.container-content-narrow.center
			p TERMINE KÖNNEN SIE GERNE TELEFONISCH ODER ONLINE VEREINBAREN.
			p FÜR VISITEN BITTEN WIR SIE UM PERSÖNLICHE ODER TELEFONISCHE VORANMELDUNG. Bitte beachten Sie, dass ein Hausbesuch nur dann indiziert ist, wenn der Patient aus gesundheitlichen Gründen nicht in der Lage ist die Ordination zu besuchen.