.footer {
    background-color: #222222;
    padding-top: var(--space-side);
    padding-bottom: var(--space-side);

    &, a { color: var(--color-body); }

    .container-content > div:not(:first-child) {
        border-top: 1px solid #5F5F5F;
        padding-top: calc(var(--space-side)/2);
        margin-top: calc(var(--space-side)/2);
    }


}


.footer-disclaimer {
    font-size: 12px;
}

.footer-tel {

    text-align: right;

    p { display: inline-block; }

    p:not(:first-child) {
        margin-left: var(--space-side);
    }

    span {
        color: var(--color-green)
    }
}


.footer-top {
    display: flex;
    justify-content: space-between;
}